<div class="upload">
    <div class="custom-file">
        <label class="custom-file-label" for="file-upload-input">
            {{ "label.choose_file" | translate }}
        </label>
        <input
            #inputUpload
            class="custom-file-input cursor-pointer"
            (change)="onFileSelect($event)"
            id="file-upload-input"
            type="file"
            [accept]="acceptType"
            [multiple]="multiple > 1"
            [disabled]="disabled"
        />
        @if (hasError) {
        <p class="control-error">
            {{ errorMessage }}
        </p>
        }
    </div>

    <div class="box-file">
        @for (file of selectedFiles; track file; let i = $index) {
        <p class="{{ file.action === 2 ? 'midnight-blue' : file.action === 1 ? 'text-muted' : 'text-success' }} mb-0">
            <i class="fa-solid fa-file"></i>&nbsp;
            <span *ngIf="!file.action || file.action === 0">
                {{ file.name }}
                <i
                    (click)="removeFile(file)"
                    class="far fa-times-circle text-danger cursor-pointer"
                ></i>
            </span>
            <span *ngIf="file.action === 1">
                <s class="text-muted">{{ file.name }}</s>&nbsp;
                <i
                    (click)="revertFile(file)"
                    class="far fa-solid fa-rotate-left midnight-blue cursor-pointer"
                ></i>
            </span>
            <span *ngIf="file.action === 2">
                <span class="midnight-blue">{{ file.name }}</span>&nbsp;
                <i
                    (click)="removeFile(file)"
                    class="far fa-times-circle text-danger cursor-pointer"
                ></i>
            </span>
            &nbsp;<span class="text-muted">{{ getProcessingPercent(file) }}</span>
        </p>

        }
    </div>
    <!-- @if (selectedFiles.length > 0) {
    <div class="text-center">
        <button
            class="btn btn-danger"
            type="button"
            [disabled]="disabled"
            (click)="resetFile()"
        >
            <i class="fa fa-eraser mr-2"></i>{{ "label.clear_all" | translate }}
        </button>
    </div>
    }  -->
    @for (err of messageErr; track err) {
    <p class="text-danger">
        {{ err }}
    </p>
    }
</div>
