<aside class="main-sidebar sidebar-dark-primary elevation-4 sidebar-no-expand">
    <a [routerLink]="['/', Constants.APP_URL.DASHBOARD]" class="brand-link text-center">
        <span class="brand-text font-weight-light uppercase pl-0" [innerHTML]="'app_short_name' | translate"></span>
    </a>
    <div class="sidebar">
        <!-- Sidebar Menu -->
        @if (menuList && menuList.length > 0) {
        <nav class="mt-2 pt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent1">
                @for (item of menuList; track $index) {
                    <li class="nav-item" [class.menu-open]="item.menu_open">
                        <a class="nav-link" (click)="onMenuClick(item)" [class.active]="item.active">
                            <i class="nav-icon {{item.icon}}"></i>
                            <p>
                                {{item.name}}
                                @if (item.child && item.child.length > 0) {
                                    <i class="fas fa-angle-left right"></i>
                                }
                            </p>
                        </a>
                        @if (item.child && item.child.length > 0) {
                            <ul class="nav nav-treeview  nav-item-toggle">
                                @for (childItem of item.child; track childItem.id; let childIndex = $index;) {
                                    <li class="nav-item">
                                        <a [routerLink]="childItem.link" (click)="onMenuClick(childItem)" class="nav-link">
                                            <i class="nav-icon {{childItem.icon}}"></i>
                                            <p>{{childItem.name}}</p>
                                        </a>
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
        </nav>
        }
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>