<div class="error-page">
    <div class="container-fluid">
        <div class="top">
            <p class="lg"><span class="text-danger">404</span><br>Not Found</p>
            <div class="txt-box">
                <p>アクセスしようとしたページは見つかりませんでし</p>
                <p>このエラーは、指定したページが見つからなかったことを意味します。</p>
            </div>
        </div>
        <div class="explain">
            <p>以下のような原因が考えられます。</p>
            <p>アクセスしようとしたファイルが存在しない（ファイルの設置箇所を誤っている）。</p>
            <p>URLアドレスが間違っている。</p>
        </div>
    </div>
</div>